*{
  margin: 0;
  box-sizing: border-box;
 scrollbar-width: none;
 font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: black;
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
}


#back{
cursor: pointer;
background-color: transparent;
color: white;
font-size: x-large;
font-weight: bold;
border: none;
font-size: xx-large;
font-weight: bold;
z-index: 2;
top: 20px;
left: 20px;
position: absolute;
}

#related_movie{
color: white;
text-align: center;
margin-top: 2px;
}

#movieDetailContainer {
  width: 100%;
  height: 100%;
  color: white;
}

.movie_description{
text-align: center;
padding-top: 630px;
font-family: sans-serif;
position: relative;
bottom: 40px;
}

.movie_name{
  margin: 0;
  position: relative;
  top: 550px;
  left: 60px;
}

.rent{
padding: 15px;
background-color: red;
color: white;
border: none;
border-radius: 10px;
position: absolute;
font-size: x-large;
font-weight: bold;
bottom: 90px;
cursor: pointer;
left: 20px;
}

.rent:active{
  transition: transform 0.3s ease-in-out;
  transform: scale(0.7);
}

/* 
#watchlist{
  padding: 15px;
  background-color: red;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  left: 16%;
  bottom: 90px;
}

#watchlist:active{
  transition: transform 0.3s ease-in-out;
  transform: scale(0.7);
} */

.movie_cast{
padding-left: 950px;
position: relative;
bottom: 20px
}

.cast{
padding-left: 950px;
position: relative;
bottom: 20px;
}

.loading-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.dots-loader {  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  height: 50%;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3498db; /* Blue color */
  opacity: 0;
  animation: dot-blink 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.5s;
}

.dot:nth-child(3) {
  animation-delay: 1s;
}


@keyframes dot-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.movie {
  width: 250px;
  margin-left: 10px;
  border: 2px solid gray;
  border-radius: 10px;
  transition: transform 0.3s ease;
  height: 340px;
  margin-right: 15px;
}

.movie:hover{
  transform: scale(1.1);
}

/* thriller */

.thriller_movie_container{
display: flex;
background-color: black;
padding: 2%;
transition: transform 0.5s ease-in-out;
width: 100%;
flex-wrap: wrap;
gap: 18px;
}

.Thriller_Movie_Container{
border-radius: 10px;  
 margin-left: 10px;
 width: 250px; /* Width of each movie card */
 margin: 10px;
 text-align: center;
}


/* horror */
.horror_movie_container {
display: flex;
background-color: black;
padding: 2%;
transition: transform 0.5s ease-in-out;
width: 100%;
flex-wrap: wrap;
gap: 18px;
}

.Horror_Movie_Container{
border-radius: 10px;  
margin-left: 10px;
width: 250px; /* Width of each movie card */
margin: 10px;
text-align: center;
}


/* action */

.action_movie_container{
  display: flex;
  background-color: black;
  padding: 2%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  flex-wrap: wrap;
  gap: 18px;
}

.Action_Movie_Container{
  border-radius: 10px;  
  margin-left: 10px;
  width: 250px; 
  margin: 10px;
  text-align: center;
}


/* comedy */

.comedy_movie_container{
  display: flex;
  background-color: black;
  padding: 2%;
  transition: transform 0.5s ease-in-out;
  width: 110%;
  margin-left: 10px;
  flex-wrap: wrap;
  gap: 15px;
}

.Comedy_Movie_Container{
  border-radius: 10px;  
  margin-left: 10px;
  width: 250px; 
  margin: 10px;
  text-align: center;
}


/* romancea */

.romance_movie_container{
  display: flex;
  background-color: black;
  padding: 2%;
  margin-left: 8px;
  transition: transform 0.5s ease-in-out;
  width: 110%;
  flex-wrap: wrap;
  gap: 15px;
}

.Romance_Movie_Container{
  border-radius: 10px;  
  margin-left: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
}


.movie{
  border: 1px solid transparent;
  border-radius: 10px;
}

